#container {
  text-align: center;
}

#playlist-scope-slider {
  text-align: center !important;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

input[type="range"] {
  width: 400px;
}
