<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href="{{url_for('views.dashboard')}}">Dashboard</a></li>
            <li><a href="{{url_for('views.account_settings')}}">Account</a></li>
            <li><a href="{{url_for('spotify.spotify_login')}}">Spotify Login</a></li>
            <li><a href="{{url_for('spotify.get_current_user_info')}}">Current User Info</a></li>
        </ul>
    </nav>
    {% block content %}{% endblock %}
</body>
</html>