{% extends 'base.html' %}

{% block title %}Your Top Tracks{% endblock %}

{% block content %}
    <div>
        <h1>Hello, you are logged in! </h1>
        <h3>Your Spotify User ID: {{spotify_user_id}}</h3>
    </div>
    <a href="{{url_for('auth.logout')}}">
        <button>Logout</button>
    </a>
    <ol>
        {% for track, artists in tracks.items() %}
            <li><b>{{ track }}</b> - {{ artists }}</li>
        {% endfor %}
    </ol>
    <div class="slidecontainer">
        <form action="{{ url_for('spotify.get_top_tracks')}}" method="post">
            <input type="range" min="1" max="3" value="1" class="slider" name="scope-slider" id="scope-slider">
            <div id="scope-slider-output"></div>
            <input type="range" min="5" max="20" value="10" class="slider" name="num-slider" id="num-slider">
            <div id="num-slider-output"></div>
            <input type="submit">
        </form>
    </div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}

